---
import Layout from "../layouts/Layout.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import Hero from "../components/Hero.astro";
import FeatureList from "../components/FeatureList.astro";
import Backstory from "../components/Backstory.astro";
import OSSection from "../components/OSSection.astro";
import Footer from "../components/Footer.astro";

const lang = "en" as const;
---

<Layout lang={lang}>
  <ThemeToggle lang={lang} />
  <main>
    <Hero lang={lang} />
    <FeatureList lang={lang} />
    <Backstory lang={lang} />
    <OSSection lang={lang} />
  </main>
  <Footer lang={lang} />
</Layout>
